.header {
background-color:  coral;
margin: 10px 250px 10px 250px;
border: 20px;
height: 100px;
}

body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  font-family: neuropol;
}

h3 {
  text-align: center;
  font-family: handlee;
}

ul, p {
  text-align: center;
  font-family: handlee;
  font-weight: bold;
  font-size: 18px;
  margin-right: 300px;
}

p {
  margin-left: 700px;
}


form, input {
  font-size: 18px;
  margin-top: 10px;
  font-family: handlee;
  font-weight: bold;
  text-align: center;
}

.list {
    font-family:garamond;
    color:navy;
    font-weight: bold;
  }
